.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.search{
  height:30px;
  width:300px;
  border:2px solid black;
  border-radius: 5px;
  padding: 2px;
  font-size: 20px;
}
.btn{
  position: relative;
  top:3px;
  margin-left: 20px;
   height:35px;
   width:50px;
   border:2px solid black;
  border-radius: 5px;
}